.App {
  text-align: center;
  background: 
  linear-gradient(#10141E, #10141E),
  linear-gradient(rgb(16, 20, 30), rgb(16, 20, 30)),
  linear-gradient(hsl(223deg, 30%, 9%), hsl(223deg, 30%, 9%));
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: 
  linear-gradient(#10141E, #10141E),
  linear-gradient(rgb(16, 20, 30), rgb(16, 20, 30)),
  linear-gradient(hsl(223deg, 30%, 9%), hsl(223deg, 30%, 9%));

}
